:root {

    --main-diva-color: #2b3d4f;
    --main-diva-color2: #097374;
    --main-diva-light: #A0C1D1;
    --main-diva-xlight: #D6E4EB;
    --main-diva-warn: #D16666;

    --main-dark-color: #3F474F;
    --main-dark_contrast: #5C6B73;


    --max-wrapper-width: 1800px;
    --def-wrapper-width: 100%;
    --header-height: 8vh;

    --max-containertext-width: 60%;

}

@font-face {
    font-family: 'JuliaMono';
    src: url('path/to/font.woff2') format('woff2'),
         url('path/to/font.woff') format('woff');
    /* Add additional formats if provided */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
    color: #444;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

main {
    /* height: calc(100vh - var(--header-height)); Adjust the height based on the header and footer */
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100vh;
    /* padding-top: calc(var(--header-height) + 20px); */
    /* height: calc(100vh - var(--header-height)); */
    /* height: calc(100rem + var(--header-height)); */
}

header {
    background-color: var(--main-diva-color);
    color: white;
    text-align: left;
    max-height: var(--header-height);
    height: var(--header-height);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: fixed;
    z-index: 1000;
}

.logoHeader {
    font-family: 'JuliaMono', monospace;
    color: white;
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logoHeader img {
    max-height: calc(var(--header-height) - 20px);
}


.header_wrapper {
    width: var(--def-wrapper-width);
    max-width: var(--max-wrapper-width);
}

a {
    font-style: italic;
    text-decoration: none;
    color: var(--main-diva-color)
}


nav {
    display: flex;
    justify-content: left;
    gap: 40px;
    padding: 0px 40px 0px 40px;
}

nav a {
    font-style: normal;
    color: white;
    text-align: center;
    font-size: larger;
}

.headerlink:hover {
    cursor: pointer;
    font-weight: bolder;
}
.headerlink{
    padding: 5px;
    font-size: larger;
}

.headerlink.selected {
    border-bottom: 0.8px solid white;
}


.wrapper {
    min-width: var(--max-wrapper-width);
    max-width: var(--max-wrapper-width);
    overflow-y: scroll;
    min-height: calc(100vh - var(--header-height));
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    background-color: white;
}

.wrapperembed {
    min-width: var(--max-wrapper-width);
    max-width: var(--max-wrapper-width);
    max-width: var(--max-wrapper-width);
    overflow-y: hidden;
    min-height: calc(100vh - var(--header-height));
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    background-color: white;
}

.textcontent {
    height: 100%;
    padding: 50px;
}

#embededHTML_docs {
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

#embededHTML_nbviewer {
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

.header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    gap: 20px;
}

footer {
    background-color: var(--main-dark-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* section carousel */


.section_slider {
    display: flex;
    transition: transform 0.5s ease;
    height: 100vh;
}

section {
    min-width: 100%;
    min-height: calc(100vh - var(--header-height));
    max-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(var(--header-height));
    overflow: hidden;
}

footer {
    background-color: var(--main-light_contrast);
}


/* Element depths */

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-diva-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}