@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: var(--main-dark-color) !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


pre {
  /* padding: .5rem; */
  /* line-height: 1.25; */
  overflow-x: scroll;
}

.modest-no-decoration {
  text-decoration: none;
}

html {
  font-size: 12px;
}

body {
  line-height: 1.85;
}

p,
.modest-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}


small,
.modest-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);

html {
  font-size: 18px;
  max-width: 100%;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arimo, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  /* border-bottom: 2px solid var(--main-dark_contrast); */
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: left;
}

blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

pre,
code {
  /* background-color: var(--main-diva-color2); */
  font-family:  "JuliaMono", "SFMono-Regular", "Menlo", "Consolas", "Liberation Mono", "DejaVu Sans Mono", monospace;
  padding: 5px;
  border-radius: 3px; 
  background-color: var(--main-diva-xlight);
  /* border: 0.1px solid var(--main-dark_contrast); */
  margin-left: 5px;
  margin-right: 5px;
  overflow:hidden;
}